/* src/styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.container > div {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

button {
  padding: 10px 10px;
  font-size: 12px;
  border-radius: 10%;
  border-style: none;
  background-color: #182430;
  color: #fff;
  cursor: pointer;
}

.fa-plus:hover {
  color: #2ade48;
}
.fa-times:hover {
  color: #d01212;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .container > div {
    width: 100%;
    margin-bottom: 20px;
  }
}
